{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>вкр</title>
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<style>
    #table{
        width: 500px;
        height: 500px;
        margin-left: 500px;
        margin-top: 200px;
    }
</style>

  </head>
  <body><br>
        <div>

<ul class="nav nav-pills">
  <li class="nav-item" style = "padding-left: 1%;left:17.9%">
      {% url 'work' as url_work %}
    <a class="nav-link {% if url_work == request.path %} active {% endif %} " href = "{{ url_work }}">Главная</a>
  </li>
  <li class="nav-item">
      {% url 'edit_page' as url_edit_page %}
    <a class="nav-link {% if url_edit_page == request.path %} active {% endif %}" href = "{{ url_edit_page }}">Создание/ред/удал</a>
  </li>

        {% if request.user.is_authenticated %}
            <li class="nav-item">
                {% url 'logout_page' as url_loggout_page %}
                <a class="nav-link" href = "{{ url_loggout_page }}">Выйти</a>
            </li>
        {% else %}
            <li class="nav-item ">
                {% url 'login_page' as url_login_page %}
                <a class="nav-link {% if url_login_page == request.path %} active {% endif %}" href = "{{ url_login_page }}">Авторизация</a>
            </li>
        <!--<li class="nav-item">
            {% url 'register_page' as url_register_page %}

      Optional JavaScript <a class="nav-link {% if url_register_page == request.path %} active {% endif %}" href = "{{ url_register_page }}">Регистрация</a>
  </li>-->
        {% endif %}

    <a style = "position:absolute;left:90%;">welcome, {{ request.user }}</a>

</ul>

    {% block content %}

        {% endblock %}
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>
</html>